/*Basic-Portfolio-2-style.css*/

body{
    background-color: rgb(217, 233, 252);
    font-family: Arial, Helvetica, sans-serif;

}

.header{
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
    border-bottom: 2px solid;
    border-bottom-color: rgb(130, 133, 168);
    height: 80px;


}

#name{
    float: left;
    margin-left: 18.5%;
    margin-right: 0px;
    margin-bottom: 0%; 
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 23px; 
    padding-bottom: 0px;   
    height: 57px;
    background-color: #11a3c7;
    color: #ffffff;
    text-align: center;
    overflow: hidden;
    font-size: 30px;
    

}

#nav{
    margin-right: 225px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-right: 50px;
    
}

li{
    float: right;
    font-family: Arial, Helvetica, sans-serif;
        
}

li a{
    display: block;
    color: #11a3c7;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    height: 48px;
    background-color: white;
    
     
}

li a:hover{
    background-color: crimson;
}





.container{
    width: 960px;
    margin-top: 40px;
    margin: auto;
}

#about-me{
    float: left;
    width: 600px;
    background-color: #ffffff;
    margin-top: 27px;
    margin-bottom: 73px;
    padding: 20px;
}

h1{
    color: #11a3c7;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    border-bottom: 5px solid;
    border-bottom-color: deepskyblue;
    padding-bottom: 25px;
}

img{
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

p{
    color: #11a3c7;
}

#sidebar{
    float: right;
    width: 200px;
    padding: 20px;
    background-color: white;
    color: #11a3c7;
    margin-top: 27px;
    text-align: center;

}

#connection-pics{
    
}

.footer{
    background-color: #646794;
    color: aqua;
    text-align: center;
    clear: both;
    height: 75px;
    border-top: 10px solid;
    border-top-color: #11a3c7;
    padding-top: 25px;
    
    
    
}