/*Basic-Portfolio-2-style.css*/

body{
    background-color: #deeef5;
    font-family: Arial, Helvetica, sans-serif;

}

header{
    background-color: #ffffff;
    font-family: 'Times New Roman', Times, serif;


}

#your-name{
    margin-left: 367px;
}

#about{
    float: right;
}

#portfolio{
    float: right;
}

#contact{
    float: right;
}

.container{
    width: 960px;
    margin: auto;
}

footer{
    background-color: #646794;
    color: aqua;
    
}